@charset "utf-8";

/* ベース
-------------------------*/
body {
  color: #6C6C6F;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.75;
  letter-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

ul {
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/* ブロック
-------------------------*/
/* header */
.header {
  padding: 30px 0;
  background-color: #123D88;
}

.header__inner {
  max-width: 1200px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* footer */
.footer {
  padding: 32px 0;
  background-color: #123D88;
  color: #fff;
  text-align: right;
}

.footer__inner {
  max-width: 1200px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.footer__copy {
  font-size: 15px;
}

/* features */
.features {
  padding: 80px 0;
}

.features__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.features__info {
  width: 46%;
}

.features__list {
  width: 46%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.features__item {
  width: 46%;
}
