@charset "utf-8";

/* ベース
---------------------------*/
body {
  color: #6C6C6F;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.75;
  letter-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
  list-style: none;
}

/* レイアウト
---------------------------*/
.l-inner {
  max-width: 1200px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* カラム */
.l-col-2 {
  width: 46%;
}

.l-col-3 {
  width: 30%;
}

/* 背景色 */
.l-bg-blue {
  color: #fff;
  background-color: #123D88;
}

/* 余白 */
.l-py-8 {
  padding: 32px 0;
}

/* テキスト */
.l-text-center {
  text-align: center;
}

.l-text-right {
  text-align: right;
}

/* モジュール
---------------------------*/
/* unit */
.unit-title {
  margin: 0 0 30px;
  color: #262934;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.3;
}

.unit-subtitle {
  margin-bottom: 20px;
  color: #256BE6;
  font-size: 14px;
  letter-spacing: 0.05em;
}

/* card */
.card-title {
  margin: 40px 0 20px;
  color: #2F2F35;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.3;
}
